* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: HelveticaNeue;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeue.ttc");
}

body {
  position: relative;
  background-color: #f7f7f7;
}
/* Header */

.btn {
  background-color: #d9d9d9;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 5rem;
}

.btn-icon {
  height: 20px;
  width: 27px;
  color: #2e2e2e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 2rem;
}

.step {
  font-weight: bold;
  font-size: 15px;
  color: #232323;
  line-height: 24px;
  margin-top: 4rem;
}

.prs-info:after {
  content: ""; /* This is necessary for the pseudo element to work.*/
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 15px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #f7f7f7; /* This creates the border. Replace black with whatever color you want. */
}

.key-specs:after {
  content: ""; /* This is necessary for the pseudo element to work.*/
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 15px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #000; /* This creates the border. Replace black with whatever color you want. */
}

/* cta  */
.cta {
  background-color: #fff;
  width: 102.6rem;
  height: 35rem;
  margin: 0 auto;
}
.product-info {
  background-color: #fff;
  width: 102.6rem;
  height: 100rem;
  margin: 0 auto;
}
/* drag and drop area */
.area {
  width: 30%;
  height: 20%;
  margin-top: 4rem;
  margin-left: 22rem;
  position: absolute;
  border: 4px dashed #4386a9;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  text-align: center;
  cursor: pointer;
}

.area:hover,
.area.dragging,
.area.uploading {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  color: #4386a9;
}

.area input {
  border: none;
}
.area input {
  display: none;
}
.area label {
  cursor: pointer;
}

.area input:focus {
  outline: none;
}
.upload-txt {
  display: block;
  font-size: 20px;
  margin-top: 10rem;
}

.cta-form-specif,
.cpu,
.details {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 5rem;
  padding: 5.6rem;
  font-size: 1.6rem;
}
.product-name label,
.core label,
.threads label,
.ram label,
.price label,
.date label {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #000;
  font-weight: bold;
}
.product-name input,
.core input,
.threads input,
.ram input,
.price input,
.date input {
  border: 1px solid #8ac0e2;
  border-radius: 8px;
  margin-top: 1rem;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}
.product-name p,
.core p,
.threads p,
.ram p,
.price p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #2e2e2e;
}

.brand,
.cpus {
  flex: 0 1 40rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  align-self: center;
  border: none;
  border-radius: 8px;
  color: #000;
  background-color: #ebebeb;
  font-weight: bold;
}

.hline {
  align-self: center;
  margin-left: 6rem;
  width: 90%;
  height: 1px;
  background: #c7c7c7;
}
.gb {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  padding: 5.6rem;
  font-size: 1.6rem;
}

.condition {
  display: flex;
  font-size: 1.6rem;
  margin-left: 5rem;
  gap: 2rem;
}

/* footer */

.logo {
  display: flex;
  justify-content: center;
}

.rdbr-logo {
  margin-top: 2rem;
  width: 7rem;
  height: 7rem;
}

.btns-for-last-p {
  display: flex;
  justify-content: space-between;
}

.back-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  color: #62a1eb;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 4rem;
  margin-left: 5rem;
}

.save-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: #62a1eb;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 12px 28px;
  margin-right: 9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* classes to make modal work */

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #fff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4a4a4a;
}
