* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: HelveticaNeue;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeue.ttc");
}

body {
  position: relative;
  background-color: #f7f7f7;
}
/* Header */

.btn {
  background-color: #d9d9d9;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3rem;
  left: 5rem;
}

.btn-icon {
  height: 20px;
  width: 27px;
  color: #2e2e2e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-bottom: 2rem;
}

.step {
  font-weight: bold;
  font-size: 15px;
  color: #232323;
  line-height: 24px;
  margin-top: 4rem;
}

.prs-info:after {
  content: ""; /* This is necessary for the pseudo element to work.*/
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 15px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #f7f7f7; /* This creates the border. Replace black with whatever color you want. */
}

.key-specs:after {
  content: ""; /* This is necessary for the pseudo element to work.*/
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 15px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #000; /* This creates the border. Replace black with whatever color you want. */
}

/* cta  */
.cta {
  background-color: #fff;
  width: 102.6rem;
  height: 35rem;
  margin: 0 auto;
}
.product-info {
  background-color: #fff;
  width: 102.6rem;
  height: 90rem;
  margin: 0 auto;
}
/* drag and drop area */
.area {
  width: 30%;
  height: 20%;
  margin-top: 4rem;
  margin-left: 22rem;
  position: absolute;
  border: 4px dashed #4386a9;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  text-align: center;
  cursor: pointer;
}

.area:hover,
.area.dragging,
.area.uploading {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  color: #4386a9;
}

.area input {
  border: none;
}
.area input {
  display: none;
}
.area label {
  cursor: pointer;
}

.area input:focus {
  outline: none;
}
.upload-txt {
  display: block;
  font-size: 20px;
  margin-top: 10rem;
}

.cta-form-specif {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 5.6rem;
  font-size: 1.6rem;
}
.product-name label {
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #000;
  font-weight: bold;
}
.product-name input {
  border: 1px solid #8ac0e2;
  border-radius: 8px;
  margin-top: 1rem;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}
.product-name p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #2e2e2e;
}

.brand {
  flex: 0 1 40rem;
  padding: 1.2rem;
  font-size: 1.6rem;
  align-self: center;
  border: none;
  border-radius: 8px;
  color: #000;
  background-color: #ebebeb;
  font-weight: bold;
}

.hline {
  align-self: center;
  margin-left: 10rem;
  width: 80%;
  height: 1px;
  background: #c7c7c7;
}

/* footer */

.logo {
  display: flex;
  justify-content: center;
}

.rdbr-logo {
  margin-top: 2rem;
  width: 7rem;
  height: 7rem;
}
