* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: HelveticaNeue;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeue.ttc");
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 11.5rem;
  height: 2rem;
  margin-top: 5rem;
}

.main-img {
  width: 78rem;
  height: 48rem;
  margin-top: 7.5rem;
}

.btns {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  padding: 1.8rem 8rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: #62a1eb;
  cursor: pointer;
}

.btn-first {
  margin-top: 10rem;
}
.btn-second {
  margin-top: 2.6rem;
}
